<div class="py-6">


  <div class="flex items-center justify-between mb-2 mx-4">
    <button
      mat-raised-button
      color="primary"
      routerLink="/add-product"
      *ngIf="isAdminOrSeller"
    >
      <mat-icon class="mr-1">add</mat-icon>
      Add Product
    </button>
      <h1 class="text-2xl font-semibold text-gray-800 text-center">Products</h1>
    <button mat-stroked-button color="accent" *ngIf="authService.isLoggedIn()" routerLink="/checkout">
      Go to Checkout
    </button>
  </div>

  <div class="overflow-x-hidden p-4">
    <table class="min-w-full divide-y divide-gray-900 shadow-sm rounded-lg">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-5 px-5 text-center cursor-pointer" (click)="onSortChange({ active: 'name', direction: sortDirection === 'asc' ? 'desc' : 'asc' })">
            <span>Name</span>
            <mat-icon 
              *ngIf="sortBy === 'name'" 
              class="transition-transform duration-300" 
              [ngClass]="{
                'rotate-0': sortDirection === 'asc',
                'rotate-180': sortDirection === 'desc'
              }"
              >
                arrow_upward
            </mat-icon>
          </th>
          <th 
            class="py-5 px-5 text-center cursor-pointer" 
            (click)="onSortChange({ active: 'price', direction: sortDirection === 'asc' ? 'desc' : 'asc'})">
            Price
            <mat-icon 
              *ngIf="sortBy === 'price'" 
              class="transition-transform duration-300" 
              [ngClass]="{
                'rotate-0': sortDirection === 'asc',
                'rotate-180': sortDirection === 'desc'
              }"
              >
                arrow_upward
            </mat-icon>
          </th>
          <th class="py-5 px-5 text-center">Description</th>
          <th class="py-5 px-5 text-center">Quantity</th>
          <th class="py-5 px-5 text-center">Stock</th>
          <th class=" text-center" *ngIf="authService.isLoggedIn()">Add to Cart</th>
          <th class=" py-5 text-center" *ngIf="authService.hasRole('ADMIN')">Remove</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 text-center">
        <tr *ngFor="let product of products" class="hover:bg-gray-50 transition">
          <td class="px-4 py-2 font-medium text-gray-700">{{ product.name }}</td>
          <td class="px-4 py-2 text-gray-600">{{ product.price | currency }}</td>
          <td class="px-4 py-2 text-gray-600">{{ product.description }}</td>
          <td class="px-4 py-2 text-gray-600">{{ product.quantity }}</td>
          <td class="px-4 py-2">
            <mat-icon
            [color]="product.isActive ? 'primary' : 'warn'"
            class="text-xl"
          >
            {{ product.isActive ? 'check_circle' : 'cancel' }}
          </mat-icon>
          </td>

          <!-- Add to Cart -->
          <td class="px-4 py-2" *ngIf="authService.isLoggedIn()">
            <button
            mat-icon-button
            *ngIf="!popupOpen[product.uuid]"
            color="primary"
            (click)="togglePopup(product.uuid)"
            matTooltip="Add to Cart"
            [disabled]="product.quantity === 0"
          >
            <mat-icon>add_shopping_cart</mat-icon>
          </button>

          <div
            *ngIf="popupOpen[product.uuid]"
            class="flex items-center space-x-2 mt-2 bg-gray-100 p-2 rounded shadow-md w-max"
          >

            <button
              mat-icon-button
              (click)="togglePopup(product.uuid)"
              matTooltip="Cancel"
            >
              <mat-icon class="pb-2 mb-1">close</mat-icon>
            </button>

            <input
              type="number"
              min="1"
              [max]="product.quantity"
              [(ngModel)]="selectedQuantities[product.uuid]"
              class="w-16 border p-1 rounded"
            />

            <button
              mat-raised-button
              color="accent"
              (click)="addToCart(product)"
            >
              Confirm
            </button>
          </div>
          </td>

          <!-- Remove Button (ADMIN) -->
          <td class="px-4 py-2" *ngIf="authService.hasRole('ADMIN')">
            <button mat-button color="warn" (click)="removeProduct(product)">
              <mat-icon>delete</mat-icon> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <mat-paginator 
    (page)="changePage($event)"
    [length]="productPage.totalElements"
    [pageIndex]="productPage.number"
    [pageSize]="productPage.size"
    [pageSizeOptions]="[5, 10, 25, 50]"
    aria-label="Select page"
     
  >
  </mat-paginator>
</div>