<div class="py-6">
  <div class="flex items-center justify-between mb-2 mx-4">
    <button
      mat-raised-button
      color="primary"
      routerLink="/add-product"
      *ngIf="isAdminOrSeller"
    >
      <mat-icon class="mr-1">add</mat-icon>
      Add Product
    </button>
      <h1 class="text-2xl font-semibold text-gray-800 text-center">Products</h1>
    <button mat-stroked-button color="accent" *ngIf="authService.isLoggedIn()" routerLink="/checkout">
      Go to Checkout
    </button>
  </div>
  <div>
    <app-product-list></app-product-list>
  </div>
</div>